body{
    margin: 0;
    padding: 0;
    background: #fcf5eb;
}
/*顶部样式*/
.space-box{
    width: 7.5rem;
    height: 0.95rem;
    margin: 0 auto;
}
.top-nav{
    position: fixed;
    top:0;
    height: 0.95rem;
    width: 7.5rem;
    z-index: 99;
    margin: 0 auto;
    background: #fcf5eb;
}
.menu-box{
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.4rem;
    margin-right: 0.42rem;
    margin-top: 0.1rem;
}
.menu-box a{
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
}
.menu-box a img{
    width: 0.4rem;
    height: 0.4rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}
.found-box{
    width: 4.3rem;
    height: 0.63rem;
    background: url("../img/HomePage-img/search.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 0.2rem;
}
.found-box input{
    width: 3.9rem;
    height: 0.4rem;
    margin-top: 0.07rem;
    margin-left: 0.15rem;
    border: none;
    outline: none;
    background: #fcf5eb;
    font-size: 0.25rem;
    text-align: center;
}
.message-box{
    width: 0.42rem;
    height: 0.47rem;
    margin-right: 0.59rem;
    margin-top: 0.3rem;
}
.message-box img{
    width: 100%;
    height: 100%;
}
/*顶部样式结束*/



/*底部样式*/
.bottom-box{
    width: 7.5rem;
    height: 0.97rem;
    background: #fffcf8;
    position: fixed;
    bottom: 0;
    border-top: solid 1px #e1ded9;
    z-index: 99;
    margin: 0 auto;
}
.bottom-box a{
    display: inline-block;
}
.bottom-box a img{
    width: 0.5rem;
    height: 0.7rem;
    margin-top: 0.15rem;
}
.bot-imgbox-1{
    width: 1.33rem;
    height: 0.97rem;
    margin-right: 0.25rem;
}
.bot-imgbox-1 img{
    margin-left: 0.45rem;
}
.bot-imgbox-2{
    width: 1.25rem;
    height: 0.97rem;
    margin-right: 0.25rem;
}
.bot-imgbox-2 img{
    margin-left: 0.4rem;
}
.bot-imgbox-3{
    width: 1.33rem;
    height: 0.97rem;
}
.bot-imgbox-3 img{
    margin-left: 0.4rem;
}
/*底部样式结束*/




.contenter{
    position: relative;
}

.sidebar-box{
    position: fixed;
    z-index: 99;
    top: 0;
    left:-5.9rem;
    width: 5.9rem;
    height: 100%;
    background: url("../img/Home-vip-img/background.png") no-repeat;
    background-size: 100% 100%;
}
.sidebar-box a{
    display: inline-block;
    text-decoration: none;
    margin-left: 0.6rem;
}
.vip-head{
    margin-top: 0.8rem;
    width: 3.55rem;
    height: 2rem;
}
.head-img{
    margin-top: 0.23rem;
    margin-left: 0.2rem;
    width: 1.6rem;
    height: 1.6rem;
}
.head-name{
    font-size: 0.26rem;
    color: #333;
    border: none;
    margin-top: 0.72rem;
    margin-left: 0.4rem;
}
.head-viplv{
    margin-top: 0.11rem;
    margin-left: 0.3rem;
    width: 1.22rem;
    height: 0.4rem;
}
.link-1{
    width: 2rem;
    height:0.7rem;
    font-size: 0.32rem;
    line-height: 0.7rem;
    color: #333;
    padding-left: 0.4rem;
}
.icon-box{
    margin-top: 1.1rem;
    margin-left: 0.2rem;
}
.icon-box a{
    width: 0.8rem;
    height: 0.8rem;
}
.icon-box a img{
    width: 0.55rem;
    height: 0.55rem;
    margin-top: 0.125rem;
    margin-left: 0.125rem;
}



/*主体部分*/
.cont-box{
    width: 100%;
    margin: 0 auto;
}

/*左侧部分*/
.cont-left-box{
    width: 1.52rem;
}
.cont-left-box div{
    display: inline-block;
    width: 100%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 0.28rem;
    color: #333;
    text-decoration: none;
}
.link-active{
    background: #fffcf8;
}
/*左侧部分结束*/

/*右侧部分*/
.cont-right-box{
    width: 5.85rem;
    background: #fffcf8;
    margin-top: 0.13rem;
    padding-top: 0.1rem;
    padding-left: 0.13rem;
    position: relative;
}
.cont-right-box a{
    display: inline-block;
}
.banner-img{
    width: 5.75rem;
    height: 2rem;
}
.cont-right-box a img{
    width: 100%;
    height: 100%;
}
.img-link-box{
    width: 2.8rem;
    height: 4rem;
    margin-bottom: 0.15rem;
}
.img-link-box2{
    width: 2.8rem;
    height: 4rem;
    margin-bottom: 0.15rem;
    margin-right: 0.1rem;
}
/*右侧部分结束*/

/*遮罩页*/
.shodow-box{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100%;
    width: 1.6rem;
    background: rgba(0,0,0,.8);
    display: none;
}
.bannerimg-box{
    position: relative;
}
.left-value{
    position: absolute;
    width: 5.75rem;
    bottom: 0.18rem;
    text-align: center;
    margin: 0;
    font-size: 0.3rem;
    background-color: rgba(255,255,255,.5);
}