body{
    background: #fcf5eb;
}
/*顶部部分*/
.top-box{
    margin-top: 0.3rem;
    position: relative;
    margin-bottom: 0.62rem;
}
.top-box a{
    display: inline-block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0;
    left:1.3rem;
}
.top-box p{
    font-size: 0.36rem;
    font-weight: bold;
    color: #333;
    margin: 0;
    text-align: center;
}
.top-box a img{
    height: 0.36rem;
}
/*顶部部分结束*/

/*主体部分*/
/*流程图部分*/
.how-box{
    width: 6.2rem;
    height: 8.5rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    position: relative;
}
.picture{
    width: 100%;
    height: 100%;
}
.question{
    position: absolute;
    width: 0.34rem;
    height: 0.34rem;
    top: 8rem;
    left: 5.33rem;
}
.question img{
    width: 100%;
    height: 100%;
}

.like-solid{
    width: 3rem;
    margin: 0 auto;
    border-top:solid 1px #000;
    position: relative;
    margin-top: 0.72rem;
    margin-bottom: 0.92rem;
}
.like-til{
    position: absolute;
    width: 2.1rem;
    text-align: center;
    font-size: 0.34rem;
    margin: 0 auto;
    top:-0.2rem;
    left: 0.48rem;
    background: #fcf5eb;
    color: #333;
}
.like-inner{
    width: 5.25rem;
    margin: 0 auto;
    margin-top: 0.4rem;
}
.like-inner a{
    display: inline-block;
    width: 2.55rem;
    height: 4.4rem;
    margin-bottom: 0.16rem;
}
.like-inner a img{
    width: 100%;
    height: 100%;
}
/*数据部分*/
.num-box{
    margin-left: 0.64rem;
    margin-bottom: 0.49rem;
}
.num-box a{
    display: inline-block;
    width: 100%;
    height: 0.75rem;
}
.span-left{
    font-size: 0.32rem;
    color: #333;
}
.span-right{
    font-size: 0.3rem;
    color: #666;
    margin-right: 0.66rem;
}
.span-right img{
    width: 0.2rem;
    height: 0.3rem;
    margin-top: 0.05rem;
    margin-left: 0.4rem;
}
.line-img{
    width: 100%;
    height: 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.45rem;
}
.line-img2{
    width: 100%;
    height: 1px;
    margin-bottom:0.13rem;
}
/*数据部分结束*/
/*主体部分结束*/






/*底部部分*/
.bottom-box{
    width: 100%;
    height: 2.37rem;
}
.bottom-box img{
    width: 100%;
    height: 100%;
}